{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Events</h1>
<div class="row">

<!-- TODO: Create a list of projects -->
{% for Event in events %}
    <div class="col-md-4">
        <div class="card mb-2">
            <img class="card-img-top" src="{{Event.image.url}}">
            <div class="card-body">
                <h5 class="card-title">{{Event.title}}</h5>
                <p class="card-text">{{Event.description}}</p>
                <a href="#"
                   class="btn btn-primary">
                    Read More
                </a>
            </div>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}